@model int

<a class="nav-link position-relative text-dark" asp-area="Customer" asp-controller="Cart" asp-action="Index">
    <i class="bi bi-cart3 fs-4"></i>
    <span class="position-absolute top-25 start-100 translate-middle badge rounded-pill bg-primary mt-2">
        @Model
    </span>
</a>
